{
  "parser": "babel-eslint", // uses babel-eslint transforms
  "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "globals": {
    "document": "readonly",
    "window": "readonly"
},
  "env": {
    "node": true // defines things like process.env when generating through node
  },
  
  "extends": [
    "eslint:recommended", // use recommended configs
    "plugin:sonarjs/recommended",

    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "arrow-parens": "error",
    "camelcase": "warn",
    "id-length": "warn",
    "jsx-quotes": "error",
    "no-confusing-arrow": "warn",
    "no-else-return": "warn",
    "new-cap": "error",
    "no-undef-init": "error",
    "no-array-constructor": "error",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": "error",
    "no-eval": "error",
    "eqeqeq": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-underscore-dangle": "off",
    "no-unneeded-ternary": "error",
    "no-useless-constructor": "error",
    "no-useless-escape": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "semi": "error",
    "no-useless-return": "error",
    "sort-vars": "warn",

    "react/boolean-prop-naming": "error",
    "react/jsx-no-useless-fragment": "error",
    "react/jsx-sort-props": "error",
    "react/jsx-boolean-value": "warn",
    "react/jsx-pascal-case": "warn",
    "react/prefer-es6-class": "error",
    "react/require-render-return": "error",
    "react/sort-comp": "warn",
    "react/self-closing-comp": "error", 
    
    // "no-anonymous-exports-page-templates": "warn",
    // "limited-exports-page-templates": "warn",
    "sonarjs/no-duplicated-branches":"off", // Work to enable this
"react/no-unescaped-entities":"off",
    "react/prop-types": "off"
  }
 }