---
title: About Us
layout: default
---

<main class="page">
  <section class="clean-block about-us">
    <div class="container">
      
  <div class=" clean-card" style="box-shadow: 0px!important">
    <div class="card-body info">
      <p class="card-text">
              <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <img src="assets/img/beach.jpg" style="width:100%;height:auto">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <h2 class="text-info">About Us</h2>
              
                  <p>{{site.title}} Chapter is a exclusive technical club under IET Bangalore Division. We are actively involved in
                    inculcating a
                    passion for innovation and appreciation for scientific temperament in the minds of those who have the potential to
                    change the future. We conducts seminars and workshops throughout the academic calendar striving to impart
                    techincal
                    , social and managerial skills to the students. </p>
              
                  <p>IET also plays an integral role in planning and organizing various events in the techno-cultural fests of the
                    institute ie ENGINEER and INCIDENT.</p>
                </div>
              </div></p>

    </div>
  </div>

  
    </div>
  </section>
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Our Family</h2>
      </div>
      
      <div class="row justify-content-center">
        {% assign coremembers = site.authors | where: 'position', 'Core' %}
        {% for author in coremembers %}
          <div class="col-sm-6 col-lg-4" style="padding-bottom: 3em">
            <div class="card clean-card text-center">
              <img class="card-img-top w-100 d-block" src="assets/img/avatars/avatar1.jpg">
              <div class="card-body info">
                <h4 class="card-title">{{ author.name }}</h4>
                <p class="card-text">{{ author.position }}</p>
                <div class="icons">
                  {% if author.facebook != blank %}
                  <a href="https://www.facebook.com/{{author.facebook}}"><i class="icon-social-facebook"></i></a>
                  {% endif %}
                  {% if author.linkedin != blank %}
                  <a href="https://www.linkedin.com/{{author.linkedin}}"><i class="icon-social-linkedin"></i></a>
                  {% endif %}
                  {% if author.github != blank %}
                  <a href="https://www.github.com/{{author.github}}"><i class="icon-social-github"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row justify-content-center">
        {% for author in site.authors %}
        {% unless author.position == "Core" %}
          <div class="col-sm-6 col-lg-4" style="padding-bottom: 3em">
            <div class="card clean-card text-center">
              <div class="card-body info">
                <h4 class="card-title">{{ author.name }}</h4>
                <p class="card-text">{{ author.position }}</p>
                <div class="icons">
                  {% if author.facebook != blank %}
                  <a href="https://www.facebook.com/{{author.facebook}}"><i class="icon-social-facebook"></i></a>
                  {% endif %}
                  {% if author.linkedin != blank %}
                  <a href="https://www.linkedin.com/{{author.linkedin}}"><i class="icon-social-linkedin"></i></a>
                  {% endif %}
                  {% if author.github != blank %}
                  <a href="https://www.github.com/{{author.github}}"><i class="icon-social-github"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endunless %}
        {% endfor %}
      </div>
      
    </div>
  </section>
</main>