<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Important Links</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="about.html#family">Our Family</a></li>

            <li><a href="blog.html">Blog</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Say Hi!</a></li>

          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Special Interest Groups</h3>
          <ul>
            {% for s in site.data.sig %}
            {% if s.no-link!=true %}
            <li><a href="sig/{{s.name}}.html">{{s.name}}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        
        <div class="col-md-6 item text">
          <div class="text-right">
<h3>{{ site.title }}</h3>
<p>{{ site.description }}
</p>
          </div>
          
        </div>
        <div class="col item social">
          <a href="https://www.facebook.com/{{site.facebook}}"><i class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com/{{site.linkedin}}"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.github.com/{{site.github}}"><i class="fa fa-github"></i></a>
          <a href="https://www.instagram.com/{{site.instagram}}"><i class="fa fa-instagram"></i></a>
          <a href="feed.xml"><i class="fa fa-rss"></i></a>
        </div>
      </div>
      <p class="copyright"><i class="fa fa-heart"></i> IET NITK | <a class="text-white" href="https://nirmalhk7.github.io">Made by Nirmal Khedkar</a></p>
    </div>
  </footer>
</div>