<style>
#navbar{
transition: top 0.3s;
}
  
  
</style>
<div class="fixed-top"  id="navbar">
<div id="topContent">
  {% include topbar.html %}
</div>
<nav class="navbar navbar-light navbar-expand-lg bg-white clean-navbar"style="border-bottom: 1px solid #c2c2c2" >
  
  <div class="container">
    
    <a class="navbar-brand logo" href="/"><img src={{ "assets/img/logo.png" | relative_url }} style="height:auto;max-width: 7em;"></a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon" style="margin:0px"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        {% assign current = page.url | downcase | split: '/' %}
        <li class="nav-item" role="presentation"><a class="nav-link {% if page.url== '/' %} active {% endif %}" href={{ "/" | relative_url }}>Home</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link {% if current[1]== 'about.html' %} active {% endif %}" href={{ "about.html" | relative_url }}>About Us</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link {% if current[1]== 'blog.html' %} active {% endif %}" href={{ "blog.html" | relative_url }}>Blog</a></li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"
            href={{ "#" | relative_url }}>Projects </a>
          <div class="dropdown-menu" role="menu">
            {% for s in site.data.sig %}
            {% if s.no-link!=true %}
            <a class="dropdown-item" role="presentation" href="{{ 'sig' | relative_url }}/{{s.name}}.html">{{s.name}}</a>
            {% endif %}
            {% endfor %}
          </div>
        </li>
        <li class="nav-item" role="presentation"><a class="nav-link {% if current[1]== 'contact.html' %} active {% endif %}" href={{ "contact.html" | relative_url }}>Contact Us</a></li>
      </ul>
    </div>
    
  </div>
</nav>
</div>