<div class="row justify-content-center">
    {% for s in site.data.sig %}
    <div class="col-md-5 col-lg-4" style="margin-bottom: 1em">
        <div class="clean-pricing-item" style="height:100%">
            <div style="width: 100%;">
                <img src="/assets/img/siglogo/{{s.name}}-logo.png" style="width:150px;height:auto!important;display:block;margin-left: auto;margin-right: auto;"/>
            </div>
            <p>{{ s.description }}</p>
            {% unless s.no-link == true %}
                {% if page.url=="/" %}
                    <a href="{{ 'sig' | relative_url }}/{{s.name}}" style="text-decoration: none;">
                        <button class="btn btn-outline-primary btn-block" type="button">Read More</button>
                    </a>
                {% endif %}
            {% endunless %}

        </div>
    </div>
    {% endfor %}
</div>