<div class="py-2 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 d-none d-lg-block">
                <a href={{ "contact.html" | relative_url }} class="small mr-3"><span class="icon-question-circle-o mr-2"></span> 
          Any questions?</a>
                <!-- <a href="tel:{{site.contactphone}}" class="topbar small mr-3"><i class="fa fa-phone"></i> {{ site.contactphone }}</a>
                <a href="mailto:{{site.contactemail}}" class="topbar small mr-3"><i class="fa fa-envelope-o"></i> {{ site.contactemail }}</a> -->
            </div>

            <div class="col-lg-4 d-lg-block text-right">
                <!-- <a href="/smp" class="small mr-3  text-right "><button class="btn btn-primary" style="border-radius: 0px;">SMP-2020</button></a>       -->
                <a href="/recruitment" class="small mr-3"><button class="btn btn-secondary" disabled style="border-radius: 0px;">Join {{site.title}}</button></a>
            </div>
        </div>
    </div>
</div>