<div class="py-2 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 d-none d-lg-block">
        <a href="#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Have a questions?</a>
        <a href="#" class="small mr-3"><span class="icon-phone2 mr-2"></span> {{ site.phone }}</a>
        <a href="#" class="small mr-3"><span class="icon-envelope-o mr-2"></span> {{ site.email }}</a>
      </div>
      <!--
<div class="col-lg-3 text-right">
        <a href="login.html" class="small mr-3"><span class="icon-unlock-alt"></span> Log In</a>
        <a href="register.html" class="small btn btn-primary px-4 py-2 rounded-0"><span class="icon-users"></span>
          Register</a>
      </div>
      -->
      
    </div>
  </div>
</div>