.no-underline {
    text-decoration: none!important;
}
.smp-logo{
    max-width:300px;
    height:auto;
    text-align: center;
}
.smp-logo-div{
    display: table-cell!important;
    text-align: center;
    vertical-align:middle!important;
}
.smp-signames{
    font-family: 'Changa', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header-colored {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-size: cover;
    background-image: linear-gradient(#aac81e, #afc81e);
    color: white!important;
}

h2.header-colored {
    color: white!important;
}

.mt05 {
    margin-top: 0.5em!important;
}

.mb05 {
    margin-top: 0.5em!important;
}

main {
    padding-top: 4em;
}

.card {
    max-width: 100%;
    border-radius: 8px;
    transition: all 1.5s ease;
}

.card:hover {
    box-shadow: 0 0 32px #333;
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-10-18 21:45:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.fa {
    padding-top: 8px;
}

.block-content img{
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    display: flex;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 0px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #803391;
    color: white;
    cursor: pointer;
    padding: 15px;
    -webkit-transition: width 1.5s; /* For Safari 3.1 to 6.0 */
    transition: width 1.5s;
}

#myBtn:hover {
    background-color: #ee7520;
}

.sig-logo{
    max-width: 50px;
}
a{
    outline: none;
}
.btn{
    transition:0.3s;
}
@media only screen and (max-width: 1050px) {
    #purple-overlay{
        display: none;
    }
    #video{
        display: none;
    }
}
@media only screen and (max-width: 1050px) {
    .mobile-center-laptop-right{
        text-align: center;
    }
    .mobile-invisible{
        display: none;
    }
    .mobile-marginx2{
        margin-top:2em;
    }
}
@media only screen and (min-width: 1050px) {
    .mobile-center-laptop-right{
        text-align: right;
    }
}

