---
layout: default
---
<style>
p img  {
  text-align: center!important;
}
</style>
<main class="page blog-post">
  <section class="clean-block clean-post dark">
    <div class="container">
      <div class="block-content">
        <div class="post-image" style='background-image:url(&quot;../../../assets/img/blog/{{page.image}}&quot;);background-attachment: fixed;
    background-repeat: no-repeat;'></div>
        <div class="post-body">
          <h3>{{page.title}}</h3>
          {% assign author = page.authors | where: 'short_name', page.author | first %}
          {% assign authorFullName = site.data.authors | where: 'short_name', page.author | first %}
          <div class="post-info">
            <span>
              By <b><a class="no-underline" href="{{author.url | relative_url}}">{{ page.author }}</a></b>
            </span>
              - 
            <span>{{ page.date | date_to_string }}</span></div>
            {{content}}
            <span>
              Written by <b><a class="no-underline" href="{{author.url | relative_url}}">{{ authorFullName.name }}</a> on {{ page.date | date_to_string }}</b>
            </span>
          <br>
        </div>
      </div>
    </div>
  </section>
</main>