---
  title: Official Website 
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ site.title}} - {{ page.title }}</title>
    <link rel="stylesheet" href={{ "/assets/css/bootstrap.min.css" | relative_url }}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="shortcut icon" href={{ "/assets/img/favicon.png" | relative_url }}>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href={{ "/assets/css/Loading-Div.css" | relative_url }}>
    <link rel="stylesheet" href={{ "/assets/css/modern.css" | relative_url }}>
    <link rel="stylesheet" href={{ "/assets/css/custom.css" | relative_url }}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> {% seo %}
    <link href="https://fonts.googleapis.com/css?family=Changa:600&display=swap" rel="stylesheet">
    <style>
      .ytplayer {
pointer-events: none;
}
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }
        
        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    {% seo %}
</head>

<body>


    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" style="padding-top: 0px;"></i></button>

    {% include navbar.html %} 
    {% if page.url != "/" %}
    <div style="padding-top: 3em;"></div>
    {% endif %}
    {{ content }}{% include subscribe.html %} {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src={{ "/assets/js/smoothproducts.min.js" | relative_url }}></script>
    <script src={{ "/assets/js/accordion.min.js" | relative_url }}></script>
    <script src={{ "/assets/js/theme.js" | relative_url }}></script>
    <script src={{ 'assets/js/navbar.js' | relative_url }}></script>
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>