---
title: My First Post
layout: default
---
<main class="page landing-page">
  <section class="clean-block clean-hero"
    style="background-image:url(&quot;assets/img/tech/image4.jpg&quot;);color:#a046b480">
    <div class="text">
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>Official Website of {{site.title}}</p>
      <button class="btn btn-outline-light btn-lg" type="button">Continue</button>
    </div>
  </section>
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Who are we?</h2>
      </div>
      <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="video-container">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/z9Ul9ccDOqE"
            frameborder="0" allowfullscreen></iframe>
          </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {{ content }}
      </div>
      </div>
      
    </div>
  </section>
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Our SIGs</h2>
        <p>IET NITK consists of three different Special Interest Groups
        </p>
      </div>
      <div class="row justify-content-center">
        {% for s in site.data.sig %}
        <div class="col-md-5 col-lg-4">
          <div class="clean-pricing-item">
            <div class="heading">
              <h3>{{ s.name}}</h3>
            </div>
            <p>{{ s.description }}</p>
            <a href="{{ s.link }}" style="text-decoration: none">
              <button class="btn btn-outline-primary btn-block" type="button">Read More</button>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
  <section class="clean-block about-us">
    <div class="container">
      <div class="article-list">
        <div class="container">
          <div class="intro">
            <h2 class="text-center">Latest Articles</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
              pellentesque ut laoreet vitae. </p>
          </div>
          <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="desk.jpg" /></a>
              <h3 class="name">Article Title</h3>
              <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in
                tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i
                  class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="building.jpg" /></a>
              <h3 class="name">Article Title</h3>
              <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in
                tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i
                  class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="loft.jpg" /></a>
              <h3 class="name">Article Title</h3>
              <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in
                tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i
                  class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clean-block about-us">
    <div class="container">
      <div class="projects-horizontal">
        <div class="container">
          <div class="intro">
            <h2 class="text-center">Projects </h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
              pellentesque ut laoreet vitae. </p>
          </div>
          <div class="row projects">
            <div class="col-sm-6 item">
              <div class="row">
                <div class="col">
                  <h3 class="name">Project Name</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam
                    in tellus eu gravida.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 item">
              <div class="row">
      
                <div class="col">
                  <h3 class="name">Project Name</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam
                    in tellus eu gravida.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 item">
              <div class="row">
      
                <div class="col">
                  <h3 class="name">Project Name</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam
                    in tellus eu gravida.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 item">
              <div class="row">
      
                <div class="col">
                  <h3 class="name">Project Name</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam
                    in tellus eu gravida.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</main>