---
title: My First Post
layout: default
---
<main class="page landing-page">
  <section class="clean-block clean-hero"
    style="background-image:url(&quot;assets/img/tech/image4.jpg&quot;);color:#a046b480">
    <div class="text">
      <h1>
        This is {{site.title}}
      </h1>
      <p>Cheesy Tagline</p>
      <button class="btn btn-outline-light btn-lg" type="button">Continue</button>
    </div>
  </section>
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Who are we?</h2>
      </div>
      <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TI2rX3Oiku8" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {{ content }}
      </div>
      </div>
      
    </div>
  </section>
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Our SIGs</h2>
        <p>IET NITK consists of three different Special Interest Groups:
        </p>
      </div>
      <div class="row justify-content-center">
        {% for s in site.data.sig %}
        <div class="col-md-5 col-lg-4" style="margin-bottom: 1em">
          <div class="clean-pricing-item" style="height:100%">
            <div class="heading">
              <h3>{{ s.name}}</h3>
            </div>
            <p>{{ s.description }}</p>
            {% if s.name == "Inkheart" %}
            <a href="#" style="text-decoration: none;">
              <button class="btn btn-outline-primary btn-block" type="button">Read More</button>
            </a>
            {% else %}
            <a href="{{ 'sig' | relative_url }}/{{s.name}}.html" style="text-decoration: none;">
              <button class="btn btn-outline-primary btn-block" type="button">Read More</button>
            </a>
            {% endif %}
            
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
  <section class="clean-block about-us">
    <div class="container">
      <div class="article-list">
        <div class="container">
          <div class="intro">
            <h2 class="text-info text-center">Latest Articles</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
              pellentesque ut laoreet vitae. </p>
          </div>
          <div class="row articles" style="padding-top:2em">
            <div class="col-sm-6 col-md-4 item">
              <div class="card">
                <img class="card-img-top w-100 d-block" src="assets/img/building.jpg" />
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis
                    in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <div style="text-align: center">
                      <a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 item">
              <div class="card">
                <img class="card-img-top w-100 d-block" src="assets/img/building.jpg" />
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis
                    in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                  <div style="text-align: center">
                    <a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 item">
              <div class="card">
                <img class="card-img-top w-100 d-block" src="assets/img/building.jpg" />
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis
                    in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                  <div style="text-align: center">
                    <a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clean-block about-us">
    <div class="container">
      <div class="projects-horizontal">
        <div class="container">
          <div class="intro">
            <h2 class="text-center">Projects </h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
              pellentesque ut laoreet vitae. </p>
          </div>
          <div class="row projects" style="margin-top: 2em">
            <div class="col-sm-4 item" style="margin-bottom: 2em">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Project Name</h4>
                  <h6 class="text-muted card-subtitle mb-2">SIG</h6>
                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis
                    in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                  <div style="text-align: right">
                    <a class="action" style="text-decoration: none" href="#">Read More <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 item" style="margin-bottom: 2em">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Project Name</h4>
                  <h6 class="text-muted card-subtitle mb-2">SIG</h6>
                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis
                    in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                  <div style="text-align: right">
                    <a class="action" style="text-decoration: none" href="#">Read More <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div><div class="col-sm-4 item" style="margin-bottom: 2em">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Project Name</h4>
                  <h6 class="text-muted card-subtitle mb-2">SIG</h6>
                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis
                    in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                  <div style="text-align: right">
                    <a class="action" style="text-decoration: none" href="#">Read More <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>