---
title: SigProjects
layout: default
---
{% assign signame= page.name | split: "." %}
{% assign signame= signame[0] | capitalize %}
<main class="page blog-post-list">
  <section class="clean-block clean-blog-list dark">
    <div class="container">
      <div class="block-heading">
        <img src="/assets/img/siglogo/{{ signame }}-logo.png"
        class="sig-logo" style="max-width:200px">
        <h2 class="text-info" style="padding-top: 1em">{{ page.title }}</h2>
        <p>
            {{ content }}
        </p>
      </div>
      <div class="block-content">
        {% assign cipherProjects = site.data.projects | where_exp: "item", "item.sig == signame"%} 
        {% for project in cipherProjects %}
        {% assign projectBuilders= project.builtBy | split: " "%}
        <div class="clean-blog-post">
          <div class="row">
            <div class="col-lg-12">
              <h3>{{ project.title }}</h3>

              <div class="info">
                <span class="text-muted"
                  >By
                  {% for builder in projectBuilders %}
                  {% assign builderFullName = site.data.authors | where: 'short_name', builder | first %}
                  {% unless forloop.first %}
                    {% if forloop.last %}
                      and
                    {% else %}
                      ,
                    {% endif %} 
                  {% endunless %}
                  <a href="/about#{{builder}}">{{ builderFullName.name }}</a>

                  {% endfor %}
                </span>
              </div>
              <p>{{ project.description }}</p>
              {% if project.url %}
              <a href="{{project.url}}"
                ><button class="btn btn-outline-primary btn-sm" type="button">
                  Read More
                </button></a
              >
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
