@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

@media only screen and (max-width: 1050px) {
  .hero-video {
    display: none;
  }
}



video::-webkit-media-controls {
  display: none !important;
}


html {
  scroll-behavior: smooth;
}

main {
  padding-top: 4em;
}

.fa {
  padding-top: 8px;
}

.block-content img {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  width:100%;
}

a {
  outline: none;
}

#message p {
  margin-bottom: 0px!important;
}

/* BlockQuote */

blockquote {
  font-size: 1.4em;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

